<p align="center">
  <a href="https://github.com/zzarif/AI-Detector">
    <img src="https://img.shields.io/github/last-commit/zzarif/AI-Detector">
  </a>
  <a href="https://multilabel-scifi-tags-classifier.vercel.app">
    <img src="https://img.shields.io/badge/website-online-red.svg">
  </a>
  <a href="https://opensource.org/licenses/MIT">
    <img src="https://img.shields.io/badge/license-MIT-yellow.svg">
  </a>
</p>