Flask==3.0.3
requests==2.32.3
gradio==3.50.0
langchain==0.2.16
langchain_core==0.2.38
langchain_openai==0.1.23
numpy==2.1.1
onnxruntime==1.19.2
pandas==2.2.2
python-dotenv==1.0.1
scikit_learn==1.5.1
scipy==1.14.1
openpyxl==3.1.5
accelerate==0.34.2
sentence_transformers==3.0.1
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchvision==0.19.1+cu121
transformers==4.44.2
views==0.3